@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    line-height: 24px;
    color: #000;
    min-width: 1320px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}

/* 헤더 네비 */

header{
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 90;
}
.header_inner{
    width: 90%;
    max-width: 1320px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_inner img{
    display: inline-block;
}
.nav{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}
.nav> li> a{
    display: block;
    font-size: 20px;
    padding: 17px 30px;
    position: relative;
    z-index: 4;
    font-family: 'Pretendard-Light';
}
.nav> li> a> span{
    display: block;
    width: 75px;
    height: 12px;
    background-color: #f1edff;
    position: absolute;
    top: 23px;
    left: 24px;
    z-index: -1;
    transform: scaleX(0);
    transition: transform 0.7s;
}
.nav> li:nth-child(2)> a> span{
    width: 102px;
}
.nav> li:nth-child(3)> a> span{
    width: 71px;
}
.nav> li:hover> a> span{
    transform: scaleX(1);
}

.nav> li{
    position: relative;
}
.sub{
    position: absolute;
    width: 100%;
    top: 57px;
    text-align: center;
    z-index: 10;
    display: none;
}
.sub> li> a{
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    display: block;
    padding: 10px 0;
    text-align: center;
    border-top: #f5f4f9 1px solid;
}
.sub> li> a:hover{
    color: #8b72c9;
}
.nav> li:hover .sub{
    display: block;
}

/* 배너 */
.banner{
    width: 100%;
    text-align: center;
    margin-top: 58px;
}
.banner img{
    width: 100%;
    text-align: center;
}

/* 섹션1 */
#section1{
    width: 100%;
    overflow: hidden;
}
#section1 div{
    width: 1320px;
    height: 1650px;
    margin: auto;
    position: relative;
}
h1{
    font-family: 'Frank Ruhl Libre', serif;
    text-align: center;
    font-weight: 400;
    font-size: 65px;
    margin: 100px 0px 50px;
    line-height: 70px;
}
.text1{
    position: absolute;
    top: 200px;
    left: -290px;
    z-index: 1;
}
.img1{
    position: absolute;
    right: 0;
    top: 300px;
    z-index: 2;
}
.text2{
    position: absolute;
    top: 950px;
    right: -290px;
    z-index: 1;
}
.img2{
    position: absolute;
    top: 860px;
    left: 0px;
    z-index: 2;
}

/* 섹션2 베스트 */
#section2{
    width: 100%;
    height: 450px;
    background-color: #f5f4f9;
    position: relative;
    text-align: center;
    margin-bottom: 450px;
}
#section2 h1{
    margin: 50px 0 130px;
    padding-top: 70px;
}
.best1{
    position: absolute;
    top: 250px;
    left: 20%;
    transform: translateX(-50%);
}
.best2{
    position: absolute;
    top: 250px;
    left: 40%;
    transform: translateX(-50%);
}
.best3{
    position: absolute;
    top: 250px;
    left: 60%;
    transform: translateX(-50%);
}
.best4{
    position: absolute;
    top: 250px;
    left: 80%;
    transform: translateX(-50%);
}
#section2 h2{
    font-family: 'NanumBarunGothic';
    font-weight: bold;
    font-size: 28px;
    padding: 10px 0 10px;
}
#section2 p{
    font-size: 18px;
}
#section2 h3{
    font-size: 24px;
    font-weight: bold;
    padding-top: 30px;
}

/* 섹션3 */
.section3{
    width: 100%;
    height: 1100px;
    overflow: hidden;
}
.section3_pos{
    width: 1320px;
    height: 1100px;
    margin: auto;
    position: relative;
}
.section3 h1{
    position: absolute;
    top: -30px;
    left: 100px;
    text-align: left;
    z-index: 5;
}
.section3 h4{
    font-size: 24px;
    position: absolute;
    top: 230px;
    left: 100px;
    text-align: left;
    font-weight: 300;
    z-index: 5;
}
.left_box{
    width: 700px;
    height: 1000px;
    background-color: #f5f4f9;
    position: absolute;
    top: 20px;
    left: -290px;
    z-index: 1;
}
.section3_inner{
    width: 1320px;
    margin: auto;
    padding-top: 300px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
}
.section3_con{
    z-index: 6;
    padding-left: 40px;
}
.section3 h2{
    font-size: 25px;
    font-weight: 400;
    padding: 15px 0;
    border-bottom: 1px solid #8b72c9;
    margin-bottom: 15px;
    margin-left: 35px;
}
.section3 p{
    font-size: 20px;
    margin-left: 35px;
    font-weight: 200;
    line-height: 28px;
}

/* 중간배너 */
.m_banner{
    width: 1320px;
    margin: 50px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

/* 섹션4 SNS */
.section4{
    width: 1320px;
    margin: auto;
    text-align: center;
}
.section4 h1{
    margin-bottom: 20px;
}
.section4 p{
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 30px;
}
.section4 p:nth-child(3){
    font-size: 20px;
}
.sns_img{
    width: 1320px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.sns_img img{
    display: block;
    transition: all 1s;
}
.sns_img li{
    width: 291px;
    height: 291px;
    overflow: hidden;
}
.sns_img li:hover img{
    transform: scale(1.2, 1.2);
}

/* 푸터 */
footer{
    margin: 80px auto 0;
    background-color: #f5f4f9;
    text-align: center;
}
.footer_inner{
    margin: auto;
    padding: 50px;
}
footer ul{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Pretendard-Light';
    font-size: 15px;
}
footer p{
    margin-top: 20px;
    font-family: 'Pretendard-Light';
    font-size: 15px;
}
footer a{
    display: block;
    margin: 0 20px;
}
footer a:hover{
    text-decoration: underline;
    color: #555;
}